<configuration>
  <appSettings>
    <add key="TenantId" value="<tenant id>" />
    <add key="ClientId" value="<client id>" />
    <add key="ClientSecret" value="<client secret>" />
    <add key="SubscriptionId" value="<subscription id>" />
    <add key="ResourceGroupName" value="<resource group name>" />
    <add key="AutomationAccountName" value="<account name>" />
  </appSettings>
</configuration>